// background-size
// @see: http://www.w3.org/TR/css3-background/#backgrounds

.background-size(...) {
	// Chrome 25-, Safari
	-webkit-background-size: @arguments;
	// FireFox 25-
	-moz-background-size: @arguments;
	background-size: @arguments;
}