// user-select
// @see: https://developer.mozilla.org/en-US/docs/CSS/user-select

.user-select(...) {
	-webkit-touch-callout: @arguments; /* iOS2.0 */
	-webkit-user-select: @arguments; /* Chrome 31+, Safari... */
	-moz-user-select: @arguments; /* FireFox 25.0+ */
	-ms-user-select: @arguments; /* IE10+ */
	-o-user-select: @arguments; /* Opera 18.0+ */
	user-select: @arguments; /* Standard */
}